#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  color: blue;
  font-size: xx-large;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blueviolet;
}

li {
  color: pink;
}
